<a href="https://colab.research.google.com/github/syifa43325103-debug/Algoritma-Pemrograman/blob/main/Praktikum_04_Algopro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Praktikum 01-Perulangan For dengan Range

In [ ]:
for i in range(1, 5):
  print(i)

1
2
3
4

Praktikum 02-Perulangan While

In [ ]:
n = int(input("Masukkan angka:"))
while n > 0:
  print(n)
  n-= 1

Masukkan angka:5
5
4
3
2
1

Praktikum 03-Nested Loop (Segitiga Bintang)

In [ ]:
for i in range(1, 5):
  for j in range(i):
      print("*", end="")
  print()

*
**
***
****

Praktikum 04 - Break dan Continue

In [ ]:
for i in range(1, 10):
  if i == 5:
      print("Angka 5 ditemukan")
      break

Angka 5 ditemukan

In [ ]:
for i in range(1, 5):
  if i % 2 == 1:
    continue
  print(i)

2
4

Praktikum 05 - For pada Dictionary (Key, Value)

In [ ]:
data = {"Nama": "Andi", "Umur":"20", "Prodi": "TRK"}

for k, v in data.items():
  print(k, ":", v)

Nama : Andi
Umur : 20
Prodi : TRK

Praktikum 06 - For dengan Enumerate

In [ ]:
daftar = ["Andi", "Budi", "Cici"]

for i, nama in enumerate(daftar, start=1):
  print(i, nama)

1 Andi
2 Budi
3 Cici

Praktikum 07 - Studi Kasus: Program Kasir Multi-Item

In [ ]:
total = 0

while True:
      barang = input("Masukkan nama barang (ketik 'selesai' untuk berhenti): ")
      if barang.lower() == "selesai":
          break
      harga = float(input(f"Masukkan harga {barang}: "))
      jumlah = int(input(f"Masukkan jumlah {barang}: "))
      subtotal = harga * jumlah
      total += subtotal

print("\n===== Struk Belanja =====")
print(f"Total Belanja : Rp {total}")

Masukkan nama barang (ketik 'selesai' untuk berhenti): Buku
Masukkan harga Buku: 50.000
Masukkan jumlah Buku: 2
Masukkan nama barang (ketik 'selesai' untuk berhenti): Pulpen
Masukkan harga Pulpen: 5000
Masukkan jumlah Pulpen: 3
Masukkan nama barang (ketik 'selesai' untuk berhenti): selesai

===== Struk Belanja =====
Total Belanja : Rp 15100.0

Penugasan 1 - Menampilkan Deret Angka

In [ ]:
for i in range (3, 30, 3):
  print(i)

3
6
9
12
15
18
21
24
27

Penugasan 2 - Hitung Faktorial

In [ ]:
angka = int(input("Masukkan bilangan bulat positif: "))
faktorial = 1

i = angka
while i > 0:
  faktorial = faktorial * i
  i = i - 1

print(f"Faktorial dari {angka} adalah {faktorial}")

Masukkan bilangan bulat positif: 5
Faktorial dari 5 adalah 120

Penugasan 3 - Pola Segitiga Terbalik

In [ ]:
for i in range(5, 0, -1):
  for j in range(i):
    print("*", end="")
  print()

*****
****
***
**
*

Penugasan 4 - Cari Bilangan Prima dengan Break

In [ ]:
angka = int(input("Masukkan bilangan bulat positif: "))

is_prima = True

if angka <= 1:
  is_prima = False
else:
  for i in range(2, angka):
    if angka % i == 0:
      is_prima = False
      break

if is_prima:
  print(f"{angka} adalah bilangan prima")
else:
  print(f"{angka} bukan bilangan prima")

Masukkan bilangan bulat positif: 5
5 adalah bilangan prima

Penugasan 4 - Tampilkan Hanya Bilangan Genap dengan Continue

In [ ]:
for i in range(1, 20):
  if i % 2 == 1:
    continue
  print(i)

2
4
6
8
10
12
14
16
18

Penugasan 5 - Iterasi Dictionary Mahasiswa

In [ ]:
data = {"Nama": "Budi", "Umur": 21, "Prodi": "Teknik Komputer"}

for k, v in data.items():
  print(k, ":", v)

Nama : Budi
Umur : 21
Prodi : Teknik Komputer

Penugasan 6 - Enumerate Daftar Barang

In [ ]:
daftar = ["Buku", "Pulpen", "Tas"]

for i, nama in enumerate(daftar, start=1):
  print(i, nama)

1 Buku
2 Pulpen
3 Tas

Penugasan 7 - Kasir Diskon

In [ ]:
total = 0

print("Masukkan nama barang dan harga.")
print("Ketik 'selesai' untuk mengakhiri")

while True:
      barang = input("Masukkan nama barang : ")
      if barang.lower() == "selesai":
          break
      harga = float(input(f"Masukkan harga {barang}: "))
      jumlah = int(input(f"Masukkan jumlah {barang}: "))
      subtotal = harga * jumlah
      total += subtotal
      diskon = 0
      if total >= 200000:
        diskon = 0.10 * total
        total_bayar = total - diskon
        pesan_diskon = "Diskon 10%"
      else:
        pesan_diskon = "Maaf Anda Tidak Mendapatkan Diskon"

diskon = int(diskon)
total_bayar = int(total_bayar)
print("\n===== Struk Belanja =====")
print(f"Total Belanja : Rp. {total}")
print(f"Diskon {pesan_diskon} : Rp. {diskon}")
print(f"Total Belanja : Rp {total_bayar}")

Masukkan nama barang dan harga.
Ketik 'selesai' untuk mengakhiri
Masukkan nama barang : tas
Masukkan harga tas: 400000
Masukkan jumlah tas: 2
Masukkan nama barang : buku
Masukkan harga buku: 20000
Masukkan jumlah buku: 1
Masukkan nama barang : selesai

===== Struk Belanja =====
Total Belanja : Rp. 820000.0
Diskon Diskon 10% : Rp. 82000
Total Belanja : Rp 738000