<a href="https://colab.research.google.com/github/syifa43325103-debug/Algoritma-Pemrograman/blob/main/Praktikum_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Praktikum 01 - Membuat dan Mengakses List ID

In [ ]:
mahasiswa = ["Andi", "Budi", "Cici"]
print(mahasiswa[0])
print(mahasiswa[1])
print(mahasiswa[-1])

Andi
Budi
Cici

Praktikum 02 - Update dan Operasi Dasar List

In [ ]:
nilai = [85, 90, 78]
nilai[1] = 95
nilai.append(100)
nilai.remove(78)
print(nilai)

[85, 95, 100]

 Praktikum 03 - Slicing List

In [ ]:
nilai = [85, 90, 78, 92, 88]
print(nilai[0:3]) # [85, 90, 78]
print(nilai[2:]) # [78, 92, 88]
print(nilai[:3]) # [85, 90, 78]

[85, 90, 78]
[78, 92, 88]
[85, 90, 78]

Praktikum 04 - List 2D (Matriks)

In [ ]:
matriks = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
]
print(matriks[0][0])
print(matriks[1][2])
print(matriks[2])

1
6
[7, 8, 9]

Praktikum 05 - Operasi pada List 2D

In [ ]:
A = [[1, 2, 3], [4, 5, 6]]
B = [[7, 8, 9], [10, 11, 12]]
C = []

for i in range(len(A)):
  baris = []
  for j in range(len(A[0])):
    baris.append(A[i][j] + B[i][j])
  C.append(baris)
print(C)

[[8, 10, 12], [14, 16, 18]]

Praktikum 06 - Studi Kasus: Pengelolaan Nilai Mahasiswa

In [ ]:
nilai = [
    [80, 90, 85],
    [70, 75, 80],
    [88, 92, 84]
]
for i, baris in enumerate(nilai, start=1):
  rata = sum(baris) / len(baris)
  print(f"Rata-rata mahasiswa {i}: {rata:.2f}")

Rata-rata mahasiswa 1: 85.00
Rata-rata mahasiswa 2: 75.00
Rata-rata mahasiswa 3: 88.00

Penugasan No. 3 - Akses Elemen List

In [ ]:
mahasiswa = ["Bayu", "Ali", "Caca", "Jaka", "Lili"]
print("Nama pertama: ", mahasiswa[0])
print("Nama terakhir: ", mahasiswa[-1])
print("Nama pada indeks ke-2: ", mahasiswa[2])

Nama pertama:  Bayu
Nama terakhir:  Lili
Nama pada indeks ke-2:  Caca

Penugasan No. 4 - Operasi Dasar List

In [ ]:
nilai = [70, 75, 80]
nilai[1] = 85
nilai.append(90)
nilai.remove(70)
print(nilai)

[85, 80, 90]

Penugasan No. 5 - Slicing List

In [ ]:
nilai = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("3 elemen pertama: ", nilai[0:3])
print("4 elemen terakhir: ", nilai[6:10])
print("Elemen indeks genap: ", nilai[1], nilai[3], nilai[5], nilai[7], nilai[9])

3 elemen pertama:  [1, 2, 3]
4 elemen terakhir:  [7, 8, 9, 10]
Elemen indeks genap:  2 4 6 8 10

Penugasan No. 6 - List 2D Matriks

In [ ]:
matriks = [
    [1, 2, 3],
    [4, 5, 6],
]
print("Baris pertama kolom kedua: ", matriks[0][1])
print("Baris kedua kolom ketiga: ", matriks[1][2])
print("Seluruh baris pertama: ", matriks[0])

Baris pertama kolom kedua:  2
Baris kedua kolom ketiga:  6
Seluruh baris pertama:  [1, 2, 3]

Penugasan No. 7 - Operasi Matriks 2D

In [ ]:
A = [3, 5], [6, 8]
B = [2, 7], [3, 9]
C = []

for i in range(len(A)):
  baris = []
  for j in range(len(A[0])):
    baris.append(A[i][j] + B[i][j])
  C.append(baris)
print(C)

[[5, 12], [9, 17]]

Penugasan No. 8 - Rata-rata Nilai Mahasiswa

In [ ]:
 nilai = [
    [75, 80, 85],
    [60, 70, 65],
    [90, 95, 92]
]
for i, baris in enumerate(nilai, start=1):
  rata = sum(baris) / len(baris)
  print(f"Rata-rata mahasiswa {i}: {rata:.2f}")

Rata-rata mahasiswa 1: 80.00
Rata-rata mahasiswa 2: 65.00
Rata-rata mahasiswa 3: 92.33

Penugasan No. 9 - Data Toko

In [ ]:
stok = [
    ["Buku", 20],
    ["Pulpen", 35],
    ["Penghapus", 15]
]

nama_stok_terbanyak = ""
jumlah_terbanyak = -1

print("===== Daftar Stok Barang =====")

for barang in stok:
    nama = barang[0]
    jumlah = barang[1]

    print(f"Nama Barang: {nama}, Stok: {jumlah}")

    if jumlah > jumlah_terbanyak:
        jumlah_terbanyak = jumlah
        nama_stok_terbanyak = nama

print("==============================")
print(f"\nBarang dengan STOK TERBANYAK adalah:")
print(f"-> {nama_stok_terbanyak} dengan jumlah {jumlah_terbanyak} unit.")

===== Daftar Stok Barang =====
Nama Barang: Buku, Stok: 20
Nama Barang: Pulpen, Stok: 35
Nama Barang: Penghapus, Stok: 15
==============================

Barang dengan STOK TERBANYAK adalah:
-> Pulpen dengan jumlah 35 unit.