<a href="https://colab.research.google.com/github/syifa43325103-debug/Algoritma-Pemrograman/blob/main/Praktikum_07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Praktikum 01 - Tuple: Data Tetap yang Tidak Bisa Diubah

In [ ]:
koordinat = (7.05, 110.44)
print("Lintang:", koordinat[0])
print("Bujur:", koordinat[1])

Lintang: 7.05
Bujur: 110.44

Praktikum 02 - Dictionary Dasar: Menyimpan Data Mahasiswa

In [ ]:
mahasiswa = {
    "NIM": "20251001",
    "Nama": "Andi",
    "Prodi": "TRK"
}
print("NIM :", mahasiswa["NIM"])
print("Nama:", mahasiswa["Nama"])
print("Prodi:", mahasiswa["Prodi"])

NIM : 20251001
Nama: Andi
Prodi: TRK

Praktikum 03 - Operasi pada Dictionary

In [ ]:
mahasiswa = {
     "NIM": "20251001",
     "Nama": "Andi",
     "Prodi": "TRK"
}

mahasiswa["Umur"] = 20              # menambah data
mahasiswa["Prodi"] = "Teknik Komputer"  # memperbarui data
del mahasiswa["Umur"]               # menghapus data

print(mahasiswa)

{'NIM': '20251001', 'Nama': 'Andi', 'Prodi': 'Teknik Komputer'}

Praktikum 04 - Set dan Operasi Himpunan

In [ ]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

print("Union:", A | B)
print("Intersection:", A & B)
print("Difference:", A - B)

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference: {1, 2}

Praktikum 05 - Studi Kasus: Data Mahasiswa dan Mata Kuliah

In [ ]:
mhs1 = {"Algoritma", "Matematika", "Bahasa Inggris"}
mhs2 = {"Algoritma", "Basis Data", "Matematika"}

print("Mata kuliah Mhs1:", mhs1)
print("Mata kuliah Mhs2:", mhs2)
print("Mata kuliah yang sama:", mhs1 & mhs2)

Mata kuliah Mhs1: {'Algoritma', 'Matematika', 'Bahasa Inggris'}
Mata kuliah Mhs2: {'Algoritma', 'Basis Data', 'Matematika'}
Mata kuliah yang sama: {'Algoritma', 'Matematika'}

Praktikum 06 - Studi Kasus Dictionary: Daftar Nilai Mahasiswa

In [ ]:
nilai_mahasiswa = {
     "Andi": 80,
     "Budi": 75,
     "Cici": 90
}

for nama, nilai in nilai_mahasiswa.items():
    print(f"{nama}: {nilai}")

rata = sum(nilai_mahasiswa.values()) / len(nilai_mahasiswa)
print(f"Rata-rata nilai: {rata:.2f}")

Andi: 80
Budi: 75
Cici: 90
Rata-rata nilai: 81.67

Penugasan No. 3 - Tuple Sederhana

In [ ]:
print("Tuple Sederhana")
data_mahasiswa = ("Syifa", 18, "Teknologi Rekayasa Komputer")

print(f"Data Tuple: {data_mahasiswa}")
print(f"Nama: {data_mahasiswa[0]}")
print(f"Umur: {data_mahasiswa[1]}")
print(f"Prodi: {data_mahasiswa[2]}")

Tuple Sederhana
Data Tuple: ('Syifa', 18, 'Teknologi Rekayasa Komputer')
Nama: Syifa
Umur: 18
Prodi: Teknologi Rekayasa Komputer

Penugasan No. 4 - Tuple Tidak Bisa Diubah

In [ ]:
angka = (1, 2, 3)
angka[0] = 10 #mencoba mengubah elemen tuple

TypeError: 'tuple' object does not support item assignment

Penugasan No. 5 - Dictionary Dasar

In [ ]:
print("Dictionary Dasar")
data_buku = {
    "judul": "Algoritma",
    "penulis": "Munir",
    "tahun_terbit": 2021
}

print(f"Judul: {data_buku['judul']}")
print(f"Penulis: {data_buku['penulis']}")
print(f"Tahun Terbit: {data_buku['tahun_terbit']}")

Dictionary Dasar
Judul: Algoritma
Penulis: Munir
Tahun Terbit: 2021

Penugasan No. 6 - Operasi Dictionary

In [ ]:
print("Operasi Dictionary")
data_dosen = {"NIP": "12345", "Nama": "Budi", "Prodi": "TRK"}
print(f"Dict Awal: {data_dosen}")

data_dosen["Umur"] = 40
print(f"Setelah tambah umur: {data_dosen}")

data_dosen["Prodi"] = "Teknik Komputer"
print(f"Setelah update prodi: {data_dosen}")

del data_dosen["Umur"]

print("\nHasil akhir Dictionary Dosen")
print(data_dosen)

Operasi Dictionary
Dict Awal: {'NIP': '12345', 'Nama': 'Budi', 'Prodi': 'TRK'}
Setelah tambah umur: {'NIP': '12345', 'Nama': 'Budi', 'Prodi': 'TRK', 'Umur': 40}
Setelah update prodi: {'NIP': '12345', 'Nama': 'Budi', 'Prodi': 'Teknik Komputer', 'Umur': 40}

Hasil akhir Dictionary Dosen
{'NIP': '12345', 'Nama': 'Budi', 'Prodi': 'Teknik Komputer'}

Penugasan No. 7 - Set dan Himpunan

In [ ]:
print("Set dan Himpunan")
A = {"Matematika", "Algoritma", "Bahasa Inggris"}
B = {"Matematika", "Basis Data", "Algoritma"}

print(f"Set A: {A}")
print(f"Set B: {B}")

union_set = A.union(B)
print(f"Union (Gabungan): {union_set}")

intersection_set = A.intersection(B)
print(f"Intersection (Irisan): {intersection_set}")

difference_set = A.difference(B)
print(f"Difference (A - B): {difference_set}")

Set dan Himpunan
Set A: {'Algoritma', 'Matematika', 'Bahasa Inggris'}
Set B: {'Algoritma', 'Matematika', 'Basis Data'}
Union (Gabungan): {'Matematika', 'Bahasa Inggris', 'Basis Data', 'Algoritma'}
Intersection (Irisan): {'Algoritma', 'Matematika'}
Difference (A - B): {'Bahasa Inggris'}

Penugasan No. 8 - Studi Kasus Dictionary

In [ ]:
print("Rata-rata Nilai Mahasiswa")
nilai_mahasiswa = {
    "Andi": 85,
    "Budi": 90,
    "Cici": 78
}

print("\nDaftar Nilai:")
for nama, nilai in nilai_mahasiswa.items():
    print(f"Mahasiswa {nama}:Nilai {nilai}")

total_nilai = sum(nilai_mahasiswa.values())
jumlah_mahasiswa = len(nilai_mahasiswa)

rata_rata = total_nilai / jumlah_mahasiswa

print(f"\nTotal Nilai: {total_nilai}")
print(f"Jumlah Mahasiswa: {jumlah_mahasiswa}")
print(f"\nRata-rata Nilai: {rata_rata:.2f}")

Rata-rata Nilai Mahasiswa

Daftar Nilai:
Mahasiswa Andi:Nilai 85
Mahasiswa Budi:Nilai 90
Mahasiswa Cici:Nilai 78

Total Nilai: 253
Jumlah Mahasiswa: 3

Rata-rata Nilai: 84.33

Penugasan No. 9 - Studi Kasus Set-Klub Mahasiswa

In [ ]:
print("Studi Kasus Set - Klub Mahasiswa")
klub_a = {"Andi", "Budi", "Cici"}
klub_b = {"Cici", "Deni", "Eka"}

print(f"Klub A : {klub_a}")
print(f"Klub B : {klub_b}")

semua_anggota = klub_a | klub_b
print(f"Daftar Seluruh Anggota : {semua_anggota}")

anggota_kedua_klub = klub_a & klub_b
print(f"Anggota Klub A dan B : {anggota_kedua_klub}")
anggota_klub_a = klub_a - klub_b
print(f"Anggota Klub A saja : {anggota_klub_a}")

Studi Kasus Set - Klub Mahasiswa
Klub A : {'Andi', 'Cici', 'Budi'}
Klub B : {'Cici', 'Deni', 'Eka'}
Daftar Seluruh Anggota : {'Cici', 'Deni', 'Budi', 'Andi', 'Eka'}
Anggota Klub A dan B : {'Cici'}
Anggota Klub A saja : {'Andi', 'Budi'}